<template>
  <div class="home">
    <h1>Game Quiz</h1>
    <div class="play">
      <h2>Jugar</h2>
    </div>
    <div class="play">
      <h2>Crear juego</h2>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Home',

    }
</script>

<style>
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .play {
        border-style: solid;
        padding: 3%;
        margin: 1%;
    }
</style>